
.bg-image {
  position: relative;
  background-image: url('./food.jpeg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed; 
  min-height: 100vh; 
  overflow: hidden;
}

.bg-image::before {
  content: ''; 
  position: absolute;
  display: flex;
  background: inherit; 
  filter: blur(100px); 
  z-index: -1; 
}
